html, body.hereNS {
    height: 100%;
}
.hereNS .mapStyle {
    height: 480px;
    width:auto;
}
.hereNS .mapSearchResultsStyle {
    position: absolute;
    z-index: 99;
    bottom: 26px;
}