html, body.hereNS {
    height: 100%;
}
.hereNS .mapStyle {
    height: 480px;
    width:auto;
}
.hereNS .mapSearchResultsStyle {
    margin-bottom: 1px;
}

.hereNS .directionsResultsStyle {
    margin-top: 1px;
    max-height: 400px;
    overflow-y: scroll;
}

.hereNS .mapSearchBoxStyle {
    border: 3px solid #124191;
}